<IfModule !mod_authz_core.c>
	Order Deny,Allow
	Deny from all
</IfModule>

<IfModule mod_authz_core.c>
	Require all denied
</IfModule>

<FilesMatch "^(script\.js|style\.css)$">
	<IfModule !mod_authz_core.c>
		Allow from all
	</IfModule>

	<IfModule mod_authz_core.c>
		Require all granted
	</IfModule>
</FilesMatch>